html {
	margin: -8px 0 0 -8px;
}

.meeting {
	width: 1903px;
	height: 910px;
	background-image: url(images/bgc.png);
	background-size: 1920px 900px;
	background-repeat: no-repeat;
	margin: 0 auto 0 auto;
	display: flex;
	flex-direction: column;
}

@media (max-width: 1600px) {/*MEDIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA*/
	.meeting {
		width: 1583px;
		height: 750px;
		background-size: 1583px 750px;
	}
}

@media (max-width: 1280px) {/*MEDIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA*/
	.meeting {
		width: 1263px;
		height: 600px;
		background-size: 1263px 600px;
	}
}

body {
	height: 4000px;
}

header {
	margin: 0 auto 0 auto;
	width: 1113px;
	display: flex;
	flex-direction: column;
}

.M_spans {
	width: fit-content;
 	margin-top: 30px;
}

.M_spanAdress {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 150%;
	color: #FFFFFF;
}

.M_spanNum {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 150%;
	color: #FFFFFF;
	margin-left: 800px;
  	margin-right: 0;
}

.navbar-menu {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:  0;
}

.navbar-menu li a {
	border: 1px solid;
	display: inline-block;
	color: white;
	text-decoration: none;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 150%;
	text-align: center;
	padding-left: 104px;
	padding-right: 104px;
	padding-top: 13px;
	padding-bottom: 13px;
	/*margin-left: 15px;
	margin-right: 15px;*/
	transition: all .2s ease-Out;
	cursor: pointer;
}

.navbar-menu li:nth-child(1) a:nth-child(1) {
	border-left-style: none;
}

.navbar-menu li:nth-child(4) a:nth-child(1) {
	border-right-style: none;
}


.navbar-menu li a:hover {
	transition: all .2s ease-Out;
	color: black;
	background-color: white;
	border: 1px white solid;
	font-weight: 500;
}



.M_buttons {
	justify-content: center;
	display: flex;
	width: 430px;
	margin: 0 auto;
	margin-top: 570px;
}

@media (max-width: 1600px) {/*MEDIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA*/
	.M_buttons {
		margin-top: 490px;
	}
}

@media (max-width: 1280px) {/*MEDIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA*/
	.M_buttons {
		margin-top: 350px;
	}
}

.M_buttons button {
	height: 50px;
	width: 203px;
	border: none;
	background-color: #99862A;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #FFFFFF;
	cursor: pointer;
	box-shadow: 0px 0px 20px black;
}

.M_buttons button:nth-child(1){
	margin-right: 30px;
}

.btn-5 {
  display: inline-block;
  border: 1px solid #fff;
  cursor: pointer;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
}

.btn-5:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  background : #E6E3C4;
  left: 0;
  bottom: 0;
  transition: all .3s;
  opacity: 0.3;
}

.btn-5:hover:before {
  width: 100%;
}

.M_buttons button:hover {
	text-shadow: 2px 3px 5px black;
	transition: .3s;
}

.info {
	margin: -10px auto 0 auto;
	margin-top: -10px;
	width: 1903px;
	height: 856px;
	background-color: #282828;
}

@media (max-width: 1600px) { /*MEDIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA*/
	.info {
		width: 1583px;
	}
}

@media (max-width: 1280px) { /*MEDIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA*/
	.info {
		width: 1263px;
	}
}

.info-svg {
	width: 1110px;
	height: 656px;
	margin: 0 auto 0 auto;
}

.info-svg svg {
	margin-top: 100px;
}

.info-content {
	width: 1110px;
	height: 656px;
	position: relative;
	bottom: 600px;
}

.info-content h1{
	width: 736px;
	height: 54px;
	font-family: 'Playfair Display';
	font-size: 36px;
	line-height: 150%;
	text-align: center;
	color: white;
	margin: 0 auto;
}

.info-content svg{
	width: 160px;
	height: 1px;
	margin: 39px auto;
	display: flex;
}

.info-content span {
	display: flex;
	width: 730px;
	margin: 0 auto;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	text-align: center;
	color: #FFFFFF;
}

.info-content img{
	display: flex;
	margin: 50px auto 0 auto;
}

.novelty {
	margin: 0 auto 0 auto;
	width: 1903px;
	height: 1038px;
	background-color: #E6E3C4;
}

@media (max-width: 1600px) {
	.novelty {
		width: 1583px;
	}
}

@media (max-width: 1280px) {
	.novelty {
		width: 1263px;
	}
}

.novelty-content {
	width: 1111px;
	margin: 0 auto;
	display: flex;
}

.novelty-content-svg1 {
	margin: 79px auto 43px auto;
}

.novelty-content h2{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #000000;
}

.novelty-content h1{
	font-family: 'Playfair Display';
	font-size: 36px;
	line-height: 150%;
	color: #282828;
}

.novelty-content span{
	display: flex;
	width: 445px;
	color: #282828;
}

.novelty-content-span {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
}

.novelty-content-svg2 {
	margin: 0 0 30px 0;
}

.novelty-content-custom-table {
	margin: 30px 0 0 0;
	height: 260px;
}

.NCCT-span1-year {
	position: relative;
	bottom: 205px;
	left: 20px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
}

.NCCT-span2-year {
	position: relative;
	bottom: 150px;
	left: 20px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
}

.NCCT-span3-year {
	position: relative;
	left: 20px;
	bottom: 95px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
}

.NCCT-span4-colli {
	font-family: 'Playfair Display';
	font-size: 18px;
	line-height: 150%;
	font-weight: 700;
	position: relative;
	left: 103px;
	bottom: 290px;
}

.NCCT-span5 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	position: relative;
	left: 103px;
	bottom: 285px;
}

.NCCT-span6-colli {
	font-family: 'Playfair Display';
	font-size: 18px;
	line-height: 150%;
	font-weight: 700;
	position: relative;
	left: 103px;
	bottom: 256px;
}

.NCCT-span7 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	position: relative;
	left: 103px;
	bottom: 252px;
}

.NCCT-span8-colli {
	font-family: 'Playfair Display';
	font-size: 18px;
	line-height: 150%;
	font-weight: 700;
	position: relative;
	left: 103px;
	bottom: 225px;
}

.NCCT-span9 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	position: relative;
	left: 103px;
	bottom: 222px;
}

.novelty-content button{
	height: 50px;
	width: 255px;
	border: none;
	background-color: #99862A;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #FFFFFF;
	cursor: pointer;
	margin-top: 30px;
}

.novelty-content button:hover {
	text-shadow: 2px 2px 5px black;
	transition: .3s;
}

.novelty-content-leftside {
	width: 570px;
}

.NCR-img1{
	margin-top: 140px;
}

.NCR-img2 {
	margin-top: 26px;
	margin-right: 27px;
}

.novelty-content-svg3 {
	margin-top: 60px;
}

.tasting-blank {
	margin-top: 80px;
	width: 1903px;
	height: 767px;
	background-color: #282828;
}

@media (max-width: 1600px) {
	.tasting-blank {
		width: 1583px;
	}
}

.tasting-blank-content {
	width: 1111px;
	height: 600px;
	margin: 0 auto;
}

.TBC-border {
	margin-top: 130px;
}

.TBC-border-content {
	display: flex;
}

.TBC-img1 {
	width: 260px;
	height: 260px;
	position: relative;
	right: 1140px;
	top: 60px;
}

.TBC-img2 {
	position: relative;
	width: 260px;
	height: 200px;
	right: 470px;
	top: 65px;
}

.TBC-h1 {
	position: relative;
	right: 1300px;
	top: 73px;
	width: 470px;
	height: 54px;
	font-family: 'Playfair Display';
	font-size: 36px;
	line-height: 150%;
	text-align: center;
	color: #FFFFFF;
	flex: none;
	order: 0;
	flex-grow: 0;
	background-color: #282828;
}

.blank {
	width: 600px;
	height: 500px;
	position: relative;
	bottom: 480px;
	left: 265px;
}

.blank svg{
	margin: 0 auto;
	display: flex;
}

.blank h1{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	text-align: center;
	color: #FFFFFF;
	width: 550px;
	margin: 40px 0 0 30px;
}

.blank-inputs {
	margin-left: 30px;
	margin-top: 70px;
}

.blank input{
	width: 255px;
	height: 40px;
	background-color: #282828;
	border: none;
	border-bottom: 1px solid white;
	color: white;
	font-family: 'Montserrat';
	font-size: 15px;
}

.blank input:focus{
	outline: none;
}

.blank input::placeholder {
	font-family: 'Montserrat';
	color: #A7A7A7;
}

.blank-input2 {
	margin-left: 23px;
}

.blank-inputs span{
	display: flex;
	width: 545px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 150%;
	color: #FFFFFF;
	margin-top: 40px;
	border: none;
	border-bottom: 1px solid white;
	text-align: bottom;
	padding: 0 0 10px 0px;
	color: #A7A7A7;
}

.blank button{
	width: 547px;
	height: 50px;
	margin-left: 29px;
	margin-top: 50px;
	background-color: #282828;
	border: 1px solid white;
	color: white;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	flex: none;
	order: 0;
	flex-grow: 0;
	cursor: pointer;
	transition: .13s;
}

.blank button:hover {
	box-shadow: 0px 0px 10px white;
	transition: .13s;
	text-shadow: 0px 0px 10px white;
}
